.bg-dark {
    background-color: $color-neutral-dark;
}

// Photos Section (Last card)
.inspired {
    padding: 3rem 1.5rem;
}

.inspired p {
    margin: 0;
}

// Footer Section
.footer-logo {
    margin-bottom: 2.375rem;
}

footer p {
    font-size: 1rem;
}

@media screen and (min-width: 750px) {

    // Hero Section
    .hero {
        position: relative;
        aspect-ratio: 768 / 700;
    }

    .hero .container {
        width: 375px;
    }

    .hero-img {
        height: 100%;
        margin: 0;
    }

    .hero picture {
        aspect-ratio: 437 / 700;
        height: 100%;
    }

    .intro {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
    }

    .intro h1 {
        font-size: 4.375rem;
    }

    // Footer Section
    footer p {
        margin: 0;
    }
}

@media screen and (min-width: 1200px) {
    .bg-fill {
        background-color: $color-neutral-dark;
        width: 100%;
        height: 500px;
    }
}