// Global
img {
    display: block;
    max-width: 100%;
}

// Hero Section
.hero-img {
    margin-bottom: 2rem;
}

// Photos Section
.photos img {
    margin-bottom: 1rem;
}

@media screen and (min-width: 750px) {
    .photos img {
        margin: 0;
    }
}