@media screen and (min-width: 750px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: .6875rem;
    }

    .discover {
        order: -1;
        grid-column: 1 / 5;
    }

    .img-1 {
        grid-column: 6 / 13;
    }

    .img-2 {
        grid-column: 1 / 8;
        grid-row: 2 / 4;
    }

    .img-3 {
        grid-column: 8 / 13;
    }

    .img-3 img {
        height: 100%;
    }

    .inspired {
        grid-column: 8 / 13;
    }
}