.container {
  max-width: 500px;
  padding: 0 1rem;
  margin: 0 auto;
}

footer .container {
  padding: 3rem 2rem;
}

.location .container {
  padding: 3rem 1rem;
}

@media screen and (min-width: 750px) {
  .photos .container {
    max-width: 1000px;
    padding: 0 2.5rem;
  }
  footer .container {
    max-width: 1000px;
    padding: 3.5rem 2.5rem;
  }
}
.social {
  display: flex;
  gap: 1.25rem;
}

@media screen and (min-width: 750px) {
  .hero {
    display: flex;
    align-items: center;
  }
  .discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer .flex {
    display: flex;
    gap: 4rem;
  }
  .footer-para {
    flex-basis: 40%;
  }
  .social {
    margin-left: auto;
  }
}
@media screen and (min-width: 750px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.6875rem;
  }
  .discover {
    order: -1;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #151515;
}

h1,
h2,
h3 {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 900;
  line-height: 1.09;
  text-transform: uppercase;
  color: #151515;
}

h1 {
  font-size: 3.75rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 3.125rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1.25rem;
}

p {
  margin-bottom: 2rem;
}

.light {
  color: #FFF;
}

section {
  margin-bottom: 7.5rem;
}

address {
  font-style: normal;
}

.btn {
  font-family: "Big Shoulders Display", cursive;
  font-size: 1.25rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2275rem;
  padding: 1.5rem 5.5rem 1.5rem 2rem;
  border: none;
}

.btn-primary {
  position: relative;
  color: #FFF;
  background-color: #151515;
}

.btn-primary::after {
  content: url("../assets/icon-arrow-right.svg");
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 3.5rem;
  background-color: #D5966C;
}

.btn-primary:hover {
  background-color: #D5966C;
  cursor: pointer;
}

.btn-primary:hover::after {
  background-color: #151515;
}

.btn-reverse {
  padding: 1.5rem 2rem 1.5rem 5.5rem;
}

.btn-reverse::after {
  content: url("../assets/icon-arrow-left.svg");
  right: auto;
  left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.hero-img {
  margin-bottom: 2rem;
}

.photos img {
  margin-bottom: 1rem;
}

@media screen and (min-width: 750px) {
  .photos img {
    margin: 0;
  }
}
.bg-dark {
  background-color: #151515;
}

.inspired {
  padding: 3rem 1.5rem;
}

.inspired p {
  margin: 0;
}

.footer-logo {
  margin-bottom: 2.375rem;
}

footer p {
  font-size: 1rem;
}

@media screen and (min-width: 750px) {
  .hero .container {
    width: 375px;
  }
  .hero-img {
    min-width: 117%;
    margin: 0;
  }
  .intro {
    width: 115%;
  }
  .intro h1 {
    font-size: 4.375rem;
  }
  footer p {
    margin: 0;
  }
}
.map {
  margin: 0;
}

.map .btn {
  position: absolute;
  top: 0;
}

.location {
  margin: 0;
}

address span {
  display: inline-block;
  font-family: "Big Shoulders Display", cursive;
  font-size: 2rem;
  text-transform: uppercase;
  color: #D5966C;
  margin-bottom: 1.25rem;
}

address {
  margin-bottom: 1.25rem;
}

.right p {
  margin: 0;
}

.location-footer {
  background-color: #D5966C;
}

.location-footer p {
  font-size: 1rem;
}/*# sourceMappingURL=main.css.map */